.daily-life {
  font-family: "Roboto Mono", monospace;
  position: relative;
}

.daily-life-title-container {
  width: 20vw;
  height: 40vh;
  background-color: #ffa200;
}

.daily-life-title {
  width: 20vw;
  padding-top: 4vh;
  letter-spacing: 0.3vw;
}

.daily-life-title-fixed {
  position: fixed;
  top: 0;
  padding-top: 0;
  color: white;
  z-index: 1;
}

.daily-life-img {
  width: 100vw;
}

.daily-life-img-not-fixed {
  position: relative;
  top: 10vh;
}

.daily-life-img-fixed {
  left: 0;
  position: fixed;
  top: 0;
}

.daily-life-text {
  color: white;
  font-size: 4.2vh;
  left: 10vw;
  position: absolute;
  text-align: left;
  top: 80vh;
  width: 40vw;
}

.daily-life-link {
  align-items: center;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 4.2vh;
  font-weight: 900;
  flex-direction: row;
  left: 10vw;
  letter-spacing: 0.8vh;
  position: absolute;
  text-align: left;
  top: 100vh;
}

.daily-life-link:hover {
  color: #ffa200;
}

.link-not-focus {
  background-color: white;
}

.link-focus {
  background-color: #ffa200;
}

.daily-life-link-block {
  border-radius: 0.5vh;
  height: 4vw;
  margin-right: 2vw;
  overflow: hidden;
  width: 4vw;
}

.arrow {
  height: 2vw;
  padding-left: 2.2vh;
  padding-top: 2vh;
  width: 2vw;
}

.arrow-focus1 {
  animation: arrow-move1 0.2s ease-in-out 0s 1 normal forwards;
}

.arrow-focus2 {
  animation: arrow-move2 0.2s ease-in-out 0s 1 normal forwards;
}

@keyframes arrow-move1 {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(4vw);
  }
}

@keyframes arrow-move2 {
  0% {
    transform: translateX(-4vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
